body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d4d4d4;
}
  
.main {
	max-width: 800px;
	margin: 20px auto;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}
  
header {
	text-align: center;
	padding: 5px;
	background-color: #4c4c4c;
	border-radius: 8px;
	color: #fff;
}
  
.profile-img {
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.profile-img img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 4px solid #333;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}
  
.profile-info {
	padding: 20px;
}
  
.profile-info h2 {
	color: #333;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
  
.profile-info p {
	color: #666;
	line-height: 1.5;
}
  
.profile-info ul {
	list-style: none;
	padding: 0;
}
  
.profile-info ul li {
	margin-bottom: 5px;
	color: #666;
}
.profile-info a{
	text-decoration: none;
	color:#666;
}
a:hover{
	color:#333;
	font-weight: bold;
}