img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
h1{
    font-size: 40px;
    margin: 70px 70px;
}
.card{
    margin: 0 550px ;
    height: 500px;
}
body{
    background: url(img/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette_1258-48250.jpg) no-repeat center center;
    background-size: cover;
}
i{
    margin: 10px;
}
