<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .ID{
            display: none;
        }
    </style>

</head>
<body style="background-color: white;">
    <ul>
        <li><a  href="/admin">User</a></li>
        <li><a  href="/create">Create</a></li>
        <li><a class="active" href="#contact">Update</a></li>
        <li><a href="#about">Delete</a></li>
        <li><a href="/homeNews">News</a></li>
        <li><a href="/ADcreateNews">Create News</a></li>
      </ul>
      <h1>Đăng ký</h1>

<form action="/update/<%= account.id %>" method="post">
 <fieldset>
  <legend>Personalia:</legend>
  <label for="email">Email:</label>
  <input type="email" value="<%= account.email %>" name="email"><br><br>
  <label for="username">Username:</label>
  <input type="text" value="<%= account.username %>" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="newPassword" name="newPassword"><br><br>
  <label for="confirmPassword">Confirm password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
  <input type="submit" value="Submit">
  <label for="id" class="ID">ID:</label>
  <input type="text" class="ID" value="<%= account.id %>" name="ID"><br><br>
 </fieldset>
</form>
</body>
</html>
